.card {
    margin: 4px;
    padding: 4px;
    max-width: 156px;
    max-height: 192px;
}
.card img {
    width: 156px;
    height: 156px;
    background-color: indigo;
    padding: 0;
    margin: 0;
    image-orientation: from-image;
}

@media screen and (max-width: 840px ) {
    .card {
        max-width: 128px;
        max-height: 156px;
    }

    .card img { 
        width: 128px;
        height: 128px;
    }
}

.card p {
    margin: 0;
}
.card a {
    color: #ffffff;
    text-decoration: none;
}