.card {
    padding: 4px;
    max-width: 156px;
    max-height: 192px;
}
.card img {
    width: 156px;
    height: 156px;
    background-color: indigo;
    padding: 0;
    margin: 0;
    image-orientation: from-image;
}
.card p {
    margin: 0;
}
.card a {
    color: #ffffff;
    text-decoration: none;
}